* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.opcionesLat img {
    height: 30px;
    width: 30px;
}

.opcionesLat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #BDBDBD solid 2px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom-right-radius: 25px;
}

.opcionesLatIMG img {
    height: 30px;
    width: 30px;
    margin-right: 17px;
}

.opcionesLatIMG {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}



.opcionesLat:hover {
    background-color: #E64547;
    color: white;
}

.icon {
    position: absolute;

    top: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#txtBuscarCitas {
    border: none;
    border-bottom: #B4B4B4 solid 2px;
    background-color: #F8F8F8;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

#txtBuscarCitas:focus {
    outline: none;
    border-bottom: #B4B4B4 solid 2px;
}



/*****Aqui empeisa el css de las cards******/


.containerCards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-right: 0;
    margin-left: 0;
}

.containerCards::-webkit-scrollbar {
    width: 5px;
    background-color: #BA181B;
    margin-right: 5px;

}

.containerCards::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #000000;
    border-radius: 5px;

}

.cardContainer {
    border-radius: 10px;
    margin: 15px;
}

.cardContainer:hover {
    border: #BA181B solid 5px;
    margin: 10px;
}

.containerContenido {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 15px;
}

.imgInfoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




.infoFecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    height: 30%;
    border-top-left-radius: 10px;
    color: white;
    padding: 10px;
}

.infoHora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #BA181B;
    height: 30%;
    color: white;
    padding: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    border-bottom-left-radius: 10px;
    padding: 10px;
    border-left: #B4B4B4 solid 2px;
    border-bottom: #B4B4B4 solid 2px;
}

.infoCliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #000000;
    width: 100%;
    border-bottom-right-radius: 10px;
    color: white;
}

.infoCliente h4 {
    margin-bottom: 3px;
    font-size: 20px;
}


.infoCliente h5 {
    margin-bottom: 3px;
    font-size: 15px
}

#codCita {
    background-color: #F8F8F8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*****Aqui empieza el responsive ctm******/


@media screen and (max-width: 1115px) {

    .opcionesLat h3 {
        font-size: 20px
    }

    .opcionesLatIMG h2 {
        font-size: 25px
    }

    .opcionesLatIMG img {
        height: 25px;
        width: 25px;
    }

    .opcionesLat img {
        height: 25px;
        width: 25px;
    }

}

@media screen and (max-width: 840px){
    .opcionesLat img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
  
    .infoFecha h4 {
        font-size: 15px;
    }

    .infoFecha h5 {
        font-size: 10px;
    }

    .infoHora h4 {
        font-size: 15px;
    }

    .infoHora h5 {
        font-size: 10px;
    }

    .info h4 {
        font-size: 15px;
    }

    .info h5 {
        font-size: 10px;
    }

    .infoCliente h4 {
        font-size: 15px;
    }

    .infoCliente h5 {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {

    .imgInfoCard img {
        height: 110px;
        width: 110px
    }

    .opcionesLatIMG h2 {
        font-size: 25px
    }

    .opcionesLat h3 {
        font-size: 20px;
    }

    .opcionesLatIMG img {
        height: 20px;
        width: 20px;
    }

    .opcionesLat {
        padding-left: 10px
    }

    #txtBuscarCitas {
        font-size: 12px
    }


}

@media screen and (max-width: 656px) {

   
    .opcionesLatIMG img {
        display: none;
    }

}


@media screen and (max-width: 636px) {

    .opcionesLat h3{
        font-size: 15px;
    }

}

@media screen and (max-width: 425px) {


    .opcionesLatIMG h2 {
        font-size: 15px
    }

    .opcionesLat h3 {
        font-size: 12px;
    }




}

@media screen and (max-width: 375px) {

    .opcionesLatIMG img {
        display: none;
    }

}

@media screen and (max-width: 320px) {

    .opcionesLat {
        padding-left: 5px
    }

    .opcionesLat h3 {
        font-size: 10px
    }

    .opcionesLatIMG img {
        display: none;
    }

}

/****Aqui empiesa el css de info cita****/

.ContainerDetalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #000000 solid 2px;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
}



#containerExpand {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background-color: white;
}

#containerExpandAgregar{
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background-color: white;
}

#containerExpandServicios{
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background-color: white;
    overflow-x: scroll;
    height: 380px;
}


.Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: white;
}

.cardsServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}



/*Al hacer hover a este div aparecera el contenedor contenidoSer*/
.cardServicio{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../../imagenes/img_citas/imagenServicio.png);
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}

.contenidoSer {
    display: none; /* Ocultar el contenido por defecto */
}

/* Mostrar el contenido cuando se hace hover en .cardServicio */
.cardServicio:hover .contenidoSer {
    display: block;
}

.bottomCardSer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #1E1E1E;
    color: white;
    width: 100%;
    height: 30px;
}

.bottomCardSer img{
    width: 20px;
    height: 20px;
}

.bottomCardSer h6{
    margin-bottom: 0;
}

/*Este es el contenedor que deplegado*/
.contenidoSer{
    height: 70%;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    width: 100%;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    padding-left: 0;
    display: none;
}

.contenidoSer::-webkit-scrollbar{
    width: 10px;
    background-color: #D9D9D9;
}

.contenidoSer::-webkit-scrollbar-thumb{
    background-color: #BA181B;
    border: 3px solid #D9D9D9;
    border-radius: 5px;
}

.contenidoSer strong p{
    font-size: 15px;
}

.contAcSer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contAcSer p{
    font-size: 12px;
}

.contAcSer img{
    width: 20px;
    height: 20px;
}


.contenedorInfoSer{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}


.contenedorInfoSer:hover{
    background-color: rgba(186, 24, 27,0.9);
}

.bottomServicio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

contenidoModal


.numeroCita {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.numeroCita h5 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #BDBDBD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 135px;

}

.infoDetalleCita {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.imagenYacciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.imagenYacciones img{
    width: 150px;
    height: 150px;
}


.camposForm {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    margin-bottom: 30px;
}

.form-floating>label {
    color: red;
}


.form-floating .form-control:focus~label,
.form-floating .form-control:not(:placeholder-shown)~label {
    color: red;
    /* Color rojo */
}

.form-floating{
    width: 45%;
    margin-right: 15px;
    margin-bottom: 15px;
}


@media screen and (max-width: 375px) {

    .form-floating input {
        font-size: 12px;
    }

    .form-floating label {
        font-size: 15px;
    }

}


 

.finalizarCita {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#finalizarCita {
    background-color: #000000;
    color: white;
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#Cerrar {
    background-color: #000000;
    color: white;
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.btnAccion {
    width: 175px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    background-color: #BA181B;
    color: white;
}

.campos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}


/**css para los campos**/

.input-field {
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 40%;
}



.input-field input {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 15px;
    border: solid 2px #000000;
    background: transparent;
    color: #000000;
    outline: none;
}

.input-field select {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 15px;
    border: solid 2px #000000;
    background: transparent;
    color: #000000;
    outline: none;
}

.input-field label {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none;
    font-size: 15px;
    padding: 0 2px;
    background-color: white;
    color: #E64547;
}



@media screen and (max-width: 840px) {
    
    .form-floating{
        width: 80%;
    }

    .camposForm {
        flex-direction: column;
    }

    .campos {
        flex-direction: column;
    }


}

@media screen and (max-width: 625px) {

    .imagenYacciones {
        width: 40%;
    }

    .camposForm {
        width: 60%;
    }

    .input-field input {
        width: 225px;
        font-size: 12px;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field select {
        width: 225px;
        font-size: 12px;
    }
}


@media screen and (max-width: 580px) {
    .input-field input {
        width: 225px;
        font-size: 12px;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field select {
        width: 225px;
        font-size: 12px;
    }
}



@media screen and (max-width: 520px) {


    .input-field input {
        width: 175px;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field select {
        width: 175px;
    }


}


@media screen and (max-width: 515px) {


    .input-field label {
        width: 110px;
    }

}

@media screen and (max-width: 440px) {


    .imagenYacciones img {
        width: 150px;
        height: 150px;
    }

    .btnAccion {
        width: 150px;
    }


}

@media screen and (max-width: 420px) {


    .input-field input {
        width: 150px;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field select {
        width: 150px;
    }



}

@media screen and (max-width: 350px) {


    .input-field input {
        width: 135px;
    }

    .input-field label {
        font-size: 12px;
    }

    .input-field select {
        width: 135px;
    }

}



@media screen and (max-width: 325px) {

    .imagenYacciones img {
        width: 130px;
        height: 130px;
    }

    .btnAccion {
        width: 130px;
        font-size: 12px;
    }

}

/***css del modal***/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contenidoModal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.imagenModal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenModal img{
    height: 50%;
    width: 50%;
}

.botonesModal{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
}

.botonesModal a{
    width: 40%;
}

.btnModal{
    background-color: #E5383B;
    width: 100%;
    font-size: 12px;
    color: white;
    border: none;
    height: 50px;
    border-radius: 5px;
}



@media screen and (max-width: 530px) {

    .btnModal{
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {

    .btnModal{
        font-size: 10px;
    }

    .contenidoModal{
        flex-direction: column;
    }

}



@media screen and (max-width: 328px) {

    .btnModal{
        font-size: 8px;
    }

    .contentModal h2{
        font-size: 15px;
    }
}

/**Modal agregar servicios***/

.contenidoModalSer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.camposServicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-fieldS{
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
}

.input-fieldS input {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 15px;
    border: solid 2px #000000;
    background: transparent;
    color: #000000;
    outline: none;
}

.input-fieldS select {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 15px;
    border: solid 2px #000000;
    background: transparent;
    color: #000000;
    outline: none;
}

.input-fieldS label {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none;
    font-size: 15px;
    padding: 0 2px;
    background-color: white;
    color: #E64547;
}


.botonesModalSer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

#btnAceptar{
    border: none;
    background-color: #E5383B;
    width: 35%;
    color: white;
    height: 35px;
    border-radius: 5px;
}

#btnCancelar{
    border: none;
    background-color: #161A1D;
    width: 35%;
    color: white;
    height: 35px;
    border-radius: 5px;
}

@media screen and (max-width: 730px) {
    .modal-content {
        margin-top: 110px;
    }
}

@media screen and (max-width: 700px) {
    .input-fieldS{
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .input-fieldS input {
        width: 200px;
    }

    .input-fieldS select {
        width: 200px;
    }
    
}

.bottomModalSer{
    width: 100%;
    height: 15px;
    border-top: 4px solid #E5383B;
    margin-top: 10px;
    margin-bottom: 10px; /* Cambia el color y aumenta el grosor */
}


