.envelope-card {
    position: relative;
    background-color: #ffffff;
    border: 4px solid #dc3545;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    /* Establecemos altura al 100% */
}

/* Triángulo invertido en la parte superior */
.envelope-card::before {
    content: "";
    position: absolute;
    top: 0;
    /* Ajuste para pegarlo a la parte superior */
    left: 50%;
    /* Centramos el triángulo horizontalmente */
    transform: translateX(-50%) rotate(180deg);
    /* Rotamos el triángulo 180 grados */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 40px 150px;
    border-color: transparent transparent #dc3545 transparent;
}

@media (min-width: 768px) and (max-width: 1398px) {
    /* Triángulo invertido en la parte superior */
    .envelope-card::before {
        border-width: 0 105px 40px 105px;
        /* top, izq, abajo, drch*/
    }
}

@media (min-width: 280px) and (max-width: 340px) {
    /* Triángulo invertido en la parte superior */
    .envelope-card::before {
        border-width: 0 120px 40px 120px;
        /* top, izq, abajo, drch*/
    }
}

@media (min-width: 768px) and (max-width: 1198px) {
    .row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .row-cols-md-4 > .col {
        flex: 0 0 auto;
        width: calc(100% / 3);
        scroll-snap-align: start;
    }
}

@media (min-width: 280px) and (max-width: 767px) {
    .row-cols-1 > .col {
        margin-bottom: 10px; /* Espacio entre las tarjetas */
    }

    .row-cols-1 > .col:last-child {
        margin-bottom: 0; /* Quita el margen inferior de la última tarjeta */
    }
}



/* Estilo para centrar verticalmente el contenido de la tarjeta */
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        /* Triángulo invertido en la parte superior */
        .envelope-card::before {
            content: "";
            position: absolute;
            top: 0;
            /* Ajuste para pegarlo a la parte superior */
            left: 50%;
            /* Centramos el triángulo horizontalmente */
            transform: translateX(-50%) rotate(180deg);
            /* Rotamos el triángulo 180 grados */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 calc(50% - 75px) 40px calc(50% - 75px);
            /* Ancho del triángulo en porcentaje */
            border-color: transparent transparent #dc3545 transparent;
        }

        .btnReturn {
            cursor: pointer;
            width: fit-content;
        }