/* Estilo para quitar el subrayado de los enlaces dentro de .card-body */
.card-body > a {
    text-decoration: none;
}

/* Media query para pantallas pequeñas */
@media (min-width: 280px) and (max-width: 767px) {
    /* Estilo para columnas medianas */
    .col-md-4 {
        margin-bottom: 20px; /* Espacio vertical entre las tarjetas */
    }
}

/* Estilo para el efecto de superposición al pasar el cursor sobre .card-body */
.card-body::after {
    content: ""; /* Contenido */
    position: absolute; /* Posición absoluta */
    inset: 0; /* Espaciado interior */
    width: 100%; /* Ancho del 100% */
    height: 100%; /* Altura del 100% */
    background-color: #00000094; /* Color de fondo semi-transparente */
    border-radius: inherit; /* Heredar el radio de borde */
    opacity: 0; /* Opacidad inicial */
}

/* Efecto de superposición al pasar el cursor sobre .card-body */
.card-body:hover::after {
    opacity: 1; /* Opacidad al pasar el cursor */
    cursor: pointer; /* Cursor de tipo puntero */
}

/* Estilo para centrar el contenido */
.content {
    width: 100%; /* Ancho del 100% */
    position: absolute; /* Posición absoluta */
    top: 50%; /* Posición desde arriba al 50% */
    left: 50%; /* Posición desde la izquierda al 50% */
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    text-align: center; /* Alinear texto al centro */
}

/* Estilo para los títulos dentro de .content */
.content h4 {
    opacity: 0; /* Opacidad inicial */
    margin-bottom: 12px; /* Margen inferior */
    scale: 0.7; /* Escala inicial */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de tipo puntero */
}

/* Efecto de escala y opacidad al pasar el cursor sobre el título */
.card:hover .content h4 {
    scale: 1; /* Escala al pasar el cursor */
    opacity: 1; /* Opacidad al pasar el cursor */
}