/* Estilo para el contenedor principal */
.contenedor-total {
  display: grid;
  /* Establece el contenedor como una cuadrícula */
  gap: 20px;
  /* Espacio entre elementos de la cuadrícula */
}

/* Estilo para el contenedor de las tarjetas */
.contenedor-cards {
  display: grid;
  /* Establece el contenedor como una cuadrícula */
  gap: 40px;
  /* Espacio entre elementos de la cuadrícula */
  overflow-x: hidden;
  /* Oculta el desplazamiento horizontal */
  overflow-y: auto;
  /* Permite el desplazamiento vertical */
  max-height: 50vh;
  /* Altura máxima del 50% del viewport */
  min-height: 50vh;
  /* Altura mínima del 50% del viewport */
}

/* Estilo para el contenedor de las citas */
.contenedor-citas {
  display: grid;
  /* Establece el contenedor como una cuadrícula */
  gap: 30px;
  /* Espacio entre elementos de la cuadrícula */
}

/* Estilo para la línea divisoria */
.linea {
  border-bottom: 5px solid #000;
  /* Borde inferior */
  margin-top: 30px;
  /* Margen superior */
  margin-bottom: 30px;
  /* Margen inferior */
}

/* Estilo para los elementos con clase "calendar" y "a" en pantallas pequeñas */
.calendar,
.a {
  display: block;
  /* Mostrar como bloque */
}

.calendar {
  padding: 0px;
}

/* Media query para pantallas muy pequeñas */
@media (min-width: 200px) and (max-width: 410px) {

  /* Ocultar los elementos con clase "calendar" y "a" */
  .calendar,
  .a {
    display: none;
    /* Ocultar */
  }
}

/* C2 */
.c2 {
  background-color: white;
  /* Color de fondo */
  min-height: 80px;
  /* Altura mínima */
}


/* Tarjeta */

@media (min-width: 623px) {
  /* Tarjeta */
  .card {
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* Distribución de columnas */
    gap: 0px;
    /* Espacio entre elementos */
    cursor: pointer;
    /* Ancho máximo */
    border: 0px;
    /* Borde */
    border: 1px solid #1E1E1E;
    /* Borde */
    min-height: 355px;
    max-height: 355px;
  }

  /* Columna derecha de la tarjeta */
  .card-derecha {
    display: grid;
    grid-template-rows: 65% 35%;
    /* Distribución de filas */
  }

  /* Elemento de movilización */
  .elemento-movilizacion {
    border-bottom: 1px solid #B5B5B5;
    /* Borde inferior */
    border-bottom-left-radius: 10px;
    /* Radio de borde inferior izquierdo */
  }

  /* Scroll de detalles */
  .detail-scroll {
    overflow-y: auto;
    /* Ocultar desbordamiento vertical */
    overflow-x: hidden;
    /* Permitir desplazamiento horizontal */
    display: grid;
    row-gap: 70px;
    column-gap: 20px;
    /* Espacio entre elementos */
    min-height: 485px;
    /* Altura mínima */
    max-height: 485px;
    grid-template-columns: repeat(2, 525px);
  }


}

/* Media query para pantallas de tamaño específico */
@media (min-width: 200px) and (max-width: 622px) {
  .card {
    min-width: 325px;
    max-width: 325px;
    /* Distribución de filas */
    gap: 0px;
    /* Espacio entre elementos */
  }

  /* Columna derecha de la tarjeta */
  .card-derecha {
    display: grid;
    grid-template-rows: 65% 35%;
    /* Distribución de filas */
    min-height: 355px;
  }

  /* Elemento de movilización */
  .elemento-movilizacion {
    margin-bottom: 15px;
  }

  /* Scroll de detalles */
  .detail-scroll {
    overflow-y: hidden;
    /* Ocultar desbordamiento vertical */
    overflow-x: auto;
    /* Permitir desplazamiento horizontal */
    display: grid;
    column-gap: 40px;
    /* Espacio entre elementos */
    min-height: 495px;
    grid-auto-flow: column;
  }

}


/* Columna izquierda de la tarjeta */
.card-izquierda {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* Distribución de filas */
  gap: 15px;
  /* Espacio entre elementos */
}

/* Elemento de fecha de la cita */
.elemento-fecha-cita {
  background-color: white;
  /* Color de fondo */
  border-top-left-radius: 10px;
  /* Radio de borde superior izquierdo */
  padding: 10px;
}

/* Elemento de hora de llegada */
.elemento-hora-llegada {
  background-color: #E64547;
  /* Color de fondo */
}

/* Información del cliente */
.info-cliente {
  background-color: black;
  /* Color de fondo */
  border-bottom-right-radius: 10px;
  /* Radio de borde inferior derecho */
}

/* Número de cita */
.cita-number {
  background-color: black;
  /* Color de fondo */
  width: 50%;
  /* Ancho */
  padding-top: 10px;
  /* Relleno superior */
  padding-bottom: 10px;
  /* Relleno inferior */
  border-bottom-left-radius: 15px;
  /* Radio de borde inferior izquierdo */
  border-bottom-right-radius: 15px;
  /* Radio de borde inferior derecho */
  border-bottom: 0px solid #D3D3D3;
  /* Borde inferior */
  top: 0;
  /* Posición superior */
  left: 50%;
  /* Posición izquierda */
  transform: translate(-50%);
  /* Traslación */
}

/* Contenedor de imagen */
.img-container>img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: 10px;
  /* Radio de borde superior izquierdo */
  border-top-right-radius: 10px;
  /* Radio de borde superior derecho */
  height: 100%;
  /* Altura */
  min-width: 100%;
  /* Ancho mínimo */
  aspect-ratio: 2/1;
  /* Relación de aspecto */
}

.detail-scroll::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scrollbar */
}

.detail-scroll::-webkit-scrollbar-thumb {
  background-color: #BA181B;
  /* Color del thumb del scrollbar */
  border-radius: 8px;
  /* Borde redondeado del thumb */
}

.detail-scroll::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scrollbar */

}

.detail-scroll::-webkit-scrollbar-thumb {
  background-color: #BA181B;
  /* Color del scrollbar thumb */
  border-radius: 8px;
  /* Borde redondeado del thumb */
}