/* Estilo para el elemento main */
main {
    min-height: 40vh;
    /* Altura mínima del 40% del viewport */
}

/* Estilo para la línea divisoria R1 */
.lineR1 {
    width: 100%;
    /* Ancho completo */
    height: 2px;
    /* Altura de 2 píxeles */
    background-color: #E00D11;
    /* Color de fondo */
}

/* Estilo para la línea divisoria W1 */
.lineW1 {
    height: 130px;
    /* Altura de 130 píxeles */
    width: 2px;
    /* Ancho de 2 píxeles */
    background-color: white;
    /* Color de fondo blanco */
    margin-right: 10px;
    /* Margen derecho de 10 píxeles */
    margin-left: 10px;
    /* Margen izquierdo de 10 píxeles */
}

/* Estilo para los elementos con clase "itemFlex" */
.itemFlex {
    width: fit-content;
    /* Ancho ajustado al contenido */
    padding-right: 20px;
    /* Relleno derecho de 20 píxeles */
}

/* Estilo para los elementos con clase "itemFlexU" */
.itemFlexU {
    width: 180px;
    /* Ancho de 180 píxeles */
}
.nav-item {
    position: relative;
}
.nav-item::after,
.nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.6s ease-in-out;
}

.nav-item::after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.nav-item::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.nav-item:hover::after,
.nav-item:hover::before {
    width: 100%;
}
