/* Estilo para el elemento main */
main {
    min-height: 40vh;
    /* Altura mínima del 40% del viewport */
}

/* Estilo para la línea divisoria R1 */
.lineR1 {
    width: 100%;
    /* Ancho completo */
    height: 2px;
    /* Altura de 2 píxeles */
    background-color: #E00D11;
    /* Color de fondo */
}

/* Estilo para la línea divisoria W1 */
.lineW1 {
    height: 130px;
    /* Altura de 130 píxeles */
    width: 2px;
    /* Ancho de 2 píxeles */
    background-color: white;
    /* Color de fondo blanco */
    margin-right: 10px;
    /* Margen derecho de 10 píxeles */
    margin-left: 10px;
    /* Margen izquierdo de 10 píxeles */
}

/* Estilo para los elementos con clase "itemFlex" */
.itemFlex {
    width: fit-content;
    /* Ancho ajustado al contenido */
    padding-right: 20px;
    /* Relleno derecho de 20 píxeles */
}

/* Estilo para los elementos con clase "itemFlexU" */
.itemFlexU {
    width: 180px;
    /* Ancho de 180 píxeles */
}
.animation {
    position: relative;
}
.animation::after,
.animation::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.6s ease-in-out;
}

.animation::after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.animation::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.animation:hover::after,
.animation:hover::before {
    width: 100%;
}


/* Efecto de crecimiento */ /* Grow */
.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    cursor: pointer;
}

/* Efecto de crecimiento al pasar el ratón por el contenido */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

