body {
    background-color: #ECECEC;
}

.contenedor-total {
    display: grid;
    gap: 50px;
}

.contenedor-blanco {
    background-color: white;
    max-height: 85vh;
}

.contenedor-ralla {
    background-color: #E5383B;
}

.contenedor-ralla>img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: bottom;
}

.contenedor-form {
    display: grid;
    gap: 60px;
    height: fit-content;
}

.lineR3 {
    width: 100%;
    height: 2px;
    background-color: #BA181B;
}

.contenedor-inputs {
    display: grid;
    gap: 30px;
}

.btnCancelar,
.btnAceptar {
    background-color: black;
    height: 55px;
    border-radius: 5px;
}

.btnAceptar {
    background-color: #E5383B;
}

.contenedor_botones {
    display: grid;
    gap: 30px;
}

.contenedor-imagen>img {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.btnExit {
    height: fit-content;
    width: 100%;
}

.btnExit >a>img {
    height: 100%;
    width: 100%;
}
.form-floating .form-control:focus~label,
.form-floating .form-control:not(:placeholder-shown)~label {
    color: red;
    /* Color rojo */
}