.bg-color-black {
    background-color: black;
}

.bg-color-r1 {
    background-color: #E5383B;
}

.bg-color-n1 {
    background-color: #161A1D;
}

.bg-color-n2 {
    background-color: #1B1919;
}

.clrGry1 {
    color: "#6B737A";
}

.open-sans-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.open-sans-light-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans-regular-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.open-sans-medium {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.open-sans-medium-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.open-sans-semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-semibold-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.open-sans-bold-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.open-sans-extrabold {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.open-sans-extrabold-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
}

/** Clase donde se pondrá la animación */
.open {
    animation: transitionIn 0.5s;
    /* Animación de entrada con duración de 1 segundo */
}

/** Animación de entrada a la página */
@keyframes transitionIn {
    from {
        opacity: 0;
        /* Inicialmente invisible */
        transform: rotateX(-10deg);
        /* Rotación en el eje X */
    }

    to {
        opacity: 1;
        /* Se vuelve completamente visible */
        transform: rotateX(0);
        /* Sin rotación */
    }
}

.swal2 {
    padding: 0px;
    margin: 0px;
}

.swal2-popup {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
}

.swal2-actions button {
    margin: 10px;
    /* Margen alrededor de los botones de SweetAlert */
    width: 185px;
    /* Ancho de los botones de SweetAlert */
}